@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  /* height: 100vh; */
  margin: 0;
  min-height: 100vh;
  /* padding: 2rem; */
  background-color: rgb(226 232 240);
  /* text-align: center; */
}
